/*
Este archivo es sencillo, por lo tanto se observa una buena indentaci칩n y manejo del 
c칩digo CSS. Sin embargo, se recomienda dividir por secciones (ej: banner) para identificar
las modificaciones de los elementos por secci칩n.

Por otro lado, se respetan los atributos que se usan y sus valores. Esto permite darle una apariencia
y experiencia de usuario agradable a la p치gina. 

Finalmente, se recomienda incluir las modificaciones generales como lo es body  al inicio del documento.

*/

.jumbotron {
  height: 100%;
  color: white;
  background-color: transparent;
  padding-top: 100px;
}

.navbar-dark {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.4);
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

#banner1 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/57b79a9744024338a66efc5e/1513379621146-AVRD3LRCTBZPDBTGL05T/ke17ZwdGBToddI8pDm48kI8ilMVa_g9Y1CtW8ihjXDYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnHFIkt9YahOH7alx23KHjz3xAcdJLuMGUx71tDNDeEgoZK8QgUh0BAeUn_raYPGGzA/Because+Geek+Banner+-+Hats.png?format=2500w");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  text-decoration-line: none;
}

.fa-linkedin {
  background: #0e76a8;
  margin-right: 20px;
}

.fa-github {
  background: #333;
}

.profile {
  margin-left: 80px;
  margin-right: 80px;
}

#confusion {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

#jumbofooter {
  background-image: url("https://images.squarespace-cdn.com/content/v1/57b79a9744024338a66efc5e/1513379621146-AVRD3LRCTBZPDBTGL05T/ke17ZwdGBToddI8pDm48kI8ilMVa_g9Y1CtW8ihjXDYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnHFIkt9YahOH7alx23KHjz3xAcdJLuMGUx71tDNDeEgoZK8QgUh0BAeUn_raYPGGzA/Because+Geek+Banner+-+Hats.png?format=2500w");
  background-size: cover;
  height: 70px;
  overflow: hidden;
  padding-top: 20px;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration-line: none;
}

html {
  scroll-behavior: smooth;
}
